* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

/* LAYOUT */

html {
  background-color: #d1bfa2;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ac9c7e' fill-opacity='0.4'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

#field {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: 
  "a1 a2 a3"
  "a4 a5 a6"
  "a7 a7 a7";

  /* gap: 10px; */
}

#field > div:nth-child(7) {
  grid-area: a7;
  padding: 0;
}

#field > div {
  border: 1px dashed black;
  display: flex;
  align-items: center;
  padding: 10px;

  gap: 10px;
}

#field > div:nth-child(2),
#field > div:nth-child(5),
#field > div:nth-child(7) {
  justify-content: center;
}

#field > div:nth-child(3),
#field > div:nth-child(6) {
  justify-content: right;
}

/* DECKS */

#deck-pirates {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#deck-vision {
  height: 100%;
  display: flex;
  align-items: center;
}

#deck-aging .very-low {
  animation: 0.2s ease-out 0s infinite alternate blinkAging;
}

@keyframes blinkAging {
  to {
    /* color: rgb(143, 74, 36); */
    opacity: 0;
  }  
}

/* DASHBOARD */

#dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr 2fr;
  grid-template-columns: 1fr;
  place-items: center;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#lives {
  justify-self: right;
  font-size: 45px;
  font-weight: bold;
  
  display: flex;
  justify-content: end;
  align-content: center;
}

#health-icons {
  display: flex;
  align-items: center;
  gap: 5px
}

#health-icons img {
  height: 45px;
  rotate: 13deg;
}

#lives-amount {
  width: 80px;
  display: flex;
  justify-content: center;
  text-align: right
}

#lives-amount.very-low {
  animation: 0.2s ease-out 0s infinite alternate blink;
}

@keyframes blink {
  to {
    /* color: rgb(221, 0, 0); */
    opacity: 0;
  }  
}

#game-over,
#help {
  text-align: center;
  padding: 0 20px;
}

#game-over {
  font-size: 30px;
}

#dashboard .buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#dashboard button {
  padding: 14px;
  background-color: #e9e9ed;
  border: 1px solid #807e77;
  border-radius: 6px;
}

#dashboard button:hover {
  background-color: #d0d0d7;
}

#dashboard button#end-fight.fight-won {
  background-color: #ccdab5;
}

#dashboard button#end-fight.fight-won:hover {
  background-color: #b1c8a5;
}

/* PLAY AREA  */

#play-area {
  height: 100%;
  width: 100%;
  padding: 10px;
  display: flex;
  gap: 20px;
  transition: background-color 1s;
}

#deck-left,
#deck-center,
#deck-right {
  height: 100%;
  display: flex;
  align-content: start;
  flex-wrap: wrap;
}

#deck-left {
  flex-grow: 1;
  justify-content: right;
}

#deck-center {
  flex-grow: 0;
}

#deck-right {
  flex-grow: 1;
  justify-content: left;
}

/* SET BY JAVASCRIPT */

.phase-green {
  background-color: rgba(0, 128, 0, 0.1);
}

.phase-yellow {
  background-color:rgba(255, 255, 0, 0.1);
}

.phase-red {
  background-color: rgba(255, 0, 0, 0.1);
}

.phase-pirates {
  background-color: rgba(0, 98, 255, 0.1);
}