
img {
  object-fit: none;
  object-position: 0 0;
  width: 223px;
  height: 400px;
}

:root {
  --card-scale: 1;
  --card-width: calc(223px * var(--card-scale));
  --card-height: calc(var(--card-width) * 1.78);
  --card-height-half: calc(var(--card-height) / 2);
  --card-inner-margin: calc(var(--card-width) / 223 * 12);
  --card-border-radius: calc(var(--card-width) / 223 * 11);
  --card-border-middle: calc(var(--card-width) / 223 * 9);
  --card-text-border-radius: calc(var(--card-width) / 223 * 5);
  --card-free-draw-font-size: calc(var(--card-width) / 223 * 25);
  --card-item-border-width: calc(var(--card-width) / 223 * 2);
  --card-danger-font-size: calc(var(--card-width) / 223 * 25);
  --card-danger-width: calc(var(--card-width) / 223 * 32);
  --card-lives-width: calc(var(--card-width) / 223 * 40);
  --card-lives-font-size: calc(var(--card-width) / 223 * 30);
  --card-power-width: calc(var(--card-width) / 223 * 40);
  --card-power-height: calc(var(--card-width) / 223 * 55);
  --card-power-font-size: calc(var(--card-width) / 223 * 45);
  --card-power-border-radius: calc(var(--card-width) / 223 * 20);
  --card-font-size: calc(var(--card-width) / 223 * 16);

  --card-color-bg: #fcf5d9;
  --card-color-hazard-bg: #b2d5d8;
  --card-color-fighting-bg: #cce3a7;
  --card-color-border-middle: #917824;
  --card-color-danger-red: #dc6520;
  --card-color-danger-yellow: #f3e906;
  --card-color-danger-green: #4eab37;
  --card-color-danger-font: #222408;
  --card-color-danger-border: #3c793b;
  --card-color-lives-bg: #edcd82;
  --card-color-lives-font: #61a526;

  --deck-color-bg: #254820;
  --deck-color-font: #3e7a36;
  --deck-discard-color-bg: #70522c;
  --deck-discard-color-font: #a27944;
  --deck-cards-in-deck-font-size: calc(var(--card-width) / 223 * 150);
  --deck-name-font-size: calc(var(--card-width) / 223 * 40);
  --deck-name-margin-top: calc(var(--card-width) / 223 * 20);
}

.card-hazard.card-as-fighting {
  rotate: 180deg;
}

.card-hazard {
  width: var(--card-width);
  border: 1px solid black;
  background-color: var(--card-color-bg);
  
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: var(--card-font-size);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: var(--card-border-radius);
}

.card-hazard .half {
  height: var(--card-height-half);
  display: flex;
}

.card-hazard .hazard-half,
.card-hazard .fighting-half {
  flex-grow: 1;
  position: relative;
}

.card-hazard .hazard-half {
  background-color: var(--card-color-hazard-bg);
  margin: var(--card-inner-margin) var(--card-inner-margin) 0 var(--card-inner-margin);
  border-radius: var(--card-border-radius) var(--card-border-radius) 0 0;
  border-bottom: var(--card-border-middle) solid var(--card-color-border-middle);
}

.card-hazard .fighting-half {
  background-color: var(--card-color-fighting-bg);
  margin: 0 var(--card-inner-margin) var(--card-inner-margin) var(--card-inner-margin);
  border-radius: 0 0 var(--card-border-radius) var(--card-border-radius);
  border-top: var(--card-border-middle) solid var(--card-color-border-middle);
}

.card-hazard .hazard-name,
.card-hazard .free-draw,
.card-hazard .danger-levels,
.card-hazard .effect-name,
.card-hazard .lives,
.card-hazard .power,
.card-hazard .mood {
  position: absolute;
}

.card-hazard .hazard-name,
.card-hazard .free-draw,
.card-hazard .danger-red,
.card-hazard .danger-yellow,
.card-hazard .danger-green,
.card-hazard .effect-name,
.card-hazard .lives,
.card-hazard .power,
.card-hazard .mood {
  display: grid;
  place-items: center;
}

/* HAZARD SIDE */

.card-hazard .hazard-name {
  top: 0;
  width: 80%;
  left: 10%;
  padding: 4% 0;
  line-height: 1;
  border-radius: 0 0 var(--card-text-border-radius) var(--card-text-border-radius);
  background-color: var(--card-color-bg);
}

.card-hazard .free-draw {
  left: 5%;
  bottom: 5%;
  width: 24%;
  height: 18%;
  background-color: var(--card-color-bg);
  border: var(--card-item-border-width) solid var(--card-color-danger-border);
  font-size: var(--card-free-draw-font-size);
}

.card-hazard .danger-levels {
  right: 2%;
  bottom: 5%;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.card-hazard .danger-red,
.card-hazard .danger-yellow,
.card-hazard .danger-green {
  width: var(--card-danger-width);
  height: var(--card-danger-width);
  border-radius: 100%;
  border: var(--card-item-border-width) solid var(--card-color-danger-border);
  color: var(--card-color-danger-font);
  font-size: var(--card-danger-font-size);
  font-weight: bold;
}

.card-hazard .danger-red {
  background-color: var(--card-color-danger-red);
}

.card-hazard .danger-yellow {
  background-color: var(--card-color-danger-yellow);
}

.card-hazard .danger-green {
  background-color: var(--card-color-danger-green);
}

/* ROBINSON SIDE */

.card-hazard .effect-name,
.card-hazard .lives,
.card-hazard .power,
.card-hazard .mood {
  rotate: 180deg;
}

.card-hazard .effect-name {
  top: 0;
  width: 70%;
  left: 15%;
  padding: 4% 0;
  line-height: 1;
  background-color: var(--card-color-bg);
  border-radius: var(--card-text-border-radius) var(--card-text-border-radius) 0 0;
}

.card-hazard .effect-name.crossed {
  position: relative;
}

.card-hazard .effect-name.crossed::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, transparent  47%, red  50%, transparent  53%);
  z-index: 2;
}

.card-hazard .lives {
  bottom: 0;
  left: 0;
  width: var(--card-lives-width);
  height: var(--card-lives-width);
  border-radius: 100%;
  background-color: var(--card-color-lives-bg);
  border: var(--card-item-border-width) solid var(--card-color-danger-border);
  font-size: var(--card-lives-font-size);
  font-weight: bold;
  color: var(--card-color-lives-font);
}

.card-hazard .power {
  bottom: 0;
  right: 0;
  background-color: var(--card-color-bg);
  border-radius: 0 0 var(--card-power-border-radius) 0;
  width: var(--card-power-width);
  height: var(--card-power-height);
  font-weight: bold;
  font-size: var(--card-power-font-size);
}

.card-hazard .mood {
  bottom: 0;
  --card-mood-width: calc(92% - var(--card-lives-width) - var(--card-power-width));
  width: var(--card-mood-width);
  left: calc((100% - var(--card-mood-width)) / 2);
  background-color: var(--card-color-bg);
  line-height: 1;
  padding: 2% 0;
  border-radius: 0 0 var(--card-text-border-radius) var(--card-text-border-radius);
}

/* ROBINSON CARD, NO HAZARD PART */

.card-fighting .half:nth-child(1) {
  rotate: 180deg;
}
.card-fighting .fighting-half {
  border: none;
}

.card-fighting .effect-name {
  border-radius: var(--card-text-border-radius);
}

/* DECK */

.deck {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  width: var(--card-width);
  height: var(--card-height);
  border: 1px solid black;
  border-radius: var(--card-border-radius);
  background-color: var(--deck-color-bg);

  position: relative;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: bold;
  color: var(--deck-color-font);
}

.deck .cards-in-deck,
.deck .deck-name {
  display: grid;
  place-items: center;
  position: absolute;
}

.deck .cards-in-deck {
  width: 100%;
  height: 100%;
  font-size: var(--deck-cards-in-deck-font-size);
}

.deck .deck-name {
  width: 100%;
  margin-top: var(--deck-name-margin-top);
  font-size: var(--deck-name-font-size);
}

/* DISCARD DECK */

.deck-discard {
  background-color: var(--deck-discard-color-bg);
  color: var(--deck-discard-color-font);
}

.deck-discard .deck-name-discard {
  margin-top: calc(var(--deck-name-margin-top) + var(--deck-name-font-size))
}